@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Classes */
.bg-main-gradient {
  background-image: linear-gradient(225deg, rgba(247, 248, 251, .7), rgba(241, 240, 253, .7) 14%, rgba(250, 233, 245, .7) 33%, rgba(238, 234, 252, .7) 42%, rgba(193, 233, 253, .7) 57%, rgba(247, 248, 251, .7) 70%, rgba(228, 230, 253, .7) 79%, rgba(247, 248, 251, .7) 100%, rgba(247, 248, 251, .7));
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
